RestService/Schemas/NewXMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/NewXMLSchema" xmlns:tns="http://www.example.org/NewXMLSchema" elementFormDefault="qualified">

    <element name="empdetails" type="tns:employee"></element>
    
    <complexType name="employee">
    	<sequence>
    		<element name="empid" type="string"></element>
    		<element name="empname" type="string"></element>
    		<element name="empaddress" type="string"></element>
    		<element name="salary" type="string"></element>
    	</sequence>
    </complexType>
</schema>